<ion-content [fullscreen]="true">
  <div class="container">
    <div class="container-app">
      <h1 class="tracking-in-contract-bck-top title">Juego </h1>
      <h1 class="tracking-in-contract-bck-top title">Memoria</h1>
      <h1 class="tracking-in-contract-bck-top title">App</h1>
    </div>
      <div class="container-img">
        <img src="../../../assets/icon/backMemoria.png" class="background" alt="">
        <img class="puff-in-center logo" src="../../../assets/icon/juegomemoriaApp.png" alt="">
      </div>
    <div class="container-alumn">
      <h3 class="alumn">4°B</h3>
      <h2 class="alumn">Juan Sueldo</h2>
    </div>
  </div>
 
</ion-content>
