ion-content{
    --background: #a25ab8;
}
img{
    height: 200px;
}
div{
    text-align: center;
}
.title{
        font-size: 3.5rem;
}
.puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  .container-alumn{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        color: #2596be;
        .alumn{
                font-size: 3.5rem;

        }
  }
  .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #db4f41;
        font-family: 'Pixelify Sans', cursive;
        font-weight: 400;
        text-shadow: 4px 4px 5px rgba(0,0,0,0.6);
  }
  .container-app{
        position: absolute;
        top: -20px;
  }
  .container-img{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .background{
        position: absolute;
        height: 450px;
  }