ion-toolbar, ion-item{
    --background: #4e847c;
}
ion-item{
    margin-bottom: 50px;
    border-color: #4e847c;
}
ion-input{
    color: #fbd06b;
    
}
.background-image{
    text-align: center;
}
img{
    height: 70px;
    margin-top: 20px;

}
.login-button{
    --background: #db4f41;
    height: 65px;
    border: 3px solid #fbd06b;
    font-size: 20px;
}
.container-buttons{
    margin-top: 45px;
    height: 100%;
}
.btn-circular{
    padding: 10px;
    width: 120px;
}
ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;
  
    --color: #ddd;
    --color-checked: #6815ec;
  }
  
  ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;
  
    border: 2px solid #ddd;
    border-radius: 4px;
  }
  
  .radio-checked.ios::part(container) {
    border-color: #6815ec;
  }
  ion-radio-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  ion-radio{
    margin: 5px;
    float: left;
  }
