ion-toolbar, ion-item{
    --background: #4e847c;
}
ion-item{
    margin-bottom: 50px;
    
}
ion-input{
    color: #db4f41;
    border-color: #4e847c;
}
.container-buttons{
    margin-top: 45px;
    height: 100%;
}
.btn-circular{
    padding: 10px;
    width: 120px;
}