ion-toolbar, ion-item{
    --background: #4e847c;
}
ion-item{
    margin-bottom: 50px;
    border-color: #4e847c;
}
ion-input{
    color: #fbd06b;
    
}
.title{
  font-size: 1.5rem;
}
.background-image{
    text-align: center;
}
img{
    height: 90px;
    margin-top: 20px;

}
.login-button{
    --background: #db4f41;
    height: 75px;
    border: 3px solid #fbd06b;
    font-size: 20px;
}
.container-buttons{
    margin-top: 45px;
    height: 100%;
}
.btn-circular{
    padding: 10px;
    width: 120px;
}
ion-radio::part(container) {
  width: 30px;
  height: 30px;
  font-size: 35px;
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #6815ec;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;
  
  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}