.botonera{
    text-align: center;
    margin-top: 10px;
}
.filter{
    --background: #db4f41;
    border: 3px solid #fbd06b;
    margin: 4px 10px;
}
.titulo-principal{
    text-align: center;
    margin-top: 20px;
  }