.titulo-principal{
  text-align: center;
  margin-top: 20px;
}
.contenedor-botones{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.boton-numero{
  width: 90%;
  background-color: #db4f41;
  margin-top: 65px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 6px solid #fbd06b;
}
.boton-numero:hover{
  background-color: #e03828;
}

#container a {
  text-decoration: none;
}